.leftOverlayDetailWrapper {
  background: url("../../public/images/leftGreyLines.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

.rightOverlayDetailWrapper {
  background: url("../../public/images/rightBottomGreyLines.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.serviceDetailsHeadingBlock {
  padding: 6rem 0;
  background: url("../../public/images/serviceDetailsImages/webRedesignOverlay.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--Raisin-Black, #272932);
}

.serviceDetailsHeadingBlock > h2 {
  color: var(--Light-Grey, #e7ecef);
  font-weight: 900;
  letter-spacing: 3.28px;
  text-align: center;
  position: relative;
}

.serviceInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 6rem 0;
  position: relative;
}

.leftArrow {
  position: absolute;
  left: 100px;
  bottom: -100px;
}

.rightArrow {
  position: absolute;
  right: 100px;
  bottom: -100px;
}

.serviceInfoText {
  width: 30%;
  font-weight: 600;
}

.timeline {
  text-align: center;
  padding: 2rem;
}

.pricingPlans > h2 {
  margin: 0;
  text-align: center;
}

.pricingPlans > h3 {
  margin: 0;
  font-weight: 900;
  text-align: center;
}

@media (width <= 768px) {
  .leftOverlayDetailWrapper,
  .rightOverlayDetailWrapper {
    background-size: contain;
  }

  .serviceInfo {
    flex-direction: column;
    margin: 20px;
  }

  .serviceInfo img {
    width: 70%;
  }

  .leftArrow,
  .rightArrow {
    display: none;
  }

  .serviceInfoText {
    width: 80%;
  }
}

@media (width <= 1024px) {
  .serviceDetailsHeadingBlock {
    background-size: contain;
    padding: 1rem 0;
  }
}
