.homeHeroSection {
  margin-top: -12rem;
  /* margin-top: -26rem; */
}

.homeHeroSection img {
  height: 86vh;
  object-fit: cover;
}

.heroCta {
  position: absolute;
  left: 5%;
  top: 33%;
}

.hollowText {
  color: transparent;
  -webkit-text-stroke: 4px white;
}

.fillText {
  color: white;
}

.heroButtons {
  margin-top: 2rem;
}

.headerCta {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3rem 0;
  margin: auto;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.75px;
  margin-top: -8px;
  text-align: center;
}

@media (480px < width <= 1440px) {
  .homeHeroSection {
    margin-top: -15rem;
  }
}

@media (768px < width <= 1024px) {
  .heroCta {
    top: 35%;
  }

  .hollowText {
    -webkit-text-stroke: 2px white;
  }
}

@media (480px < width <= 768px) {
  .homeHeroSection {
    margin-top: -17rem;
  }

  .homeHeroSection img {
    height: 70vh;
    object-fit: cover;
  }

  .hollowText {
    -webkit-text-stroke: 1px white;
  }
}

@media (width <= 480px) {
  .homeHeroSection {
    margin-top: -13rem;
  }

  .homeHeroSection img {
    height: 40vh;
  }

  .heroCta {
    top: 20%;
  }

  .hollowText {
    -webkit-text-stroke: 0;
    color: white;
  }
}
